html body{
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.App {
  background-color: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 70vh;
  line-height: 100vh;
}

.App img{
  border-radius: 10vh;
  height: 100vh;
  width: 100vh;
}
.lyric{
  font-size: 30vh;
  line-height: 40vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 1;
}
.name{
  flex-shrink: 0;
  padding: 0 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.name div{
  max-width: 20vw;
  height: 100vh;
  line-height: 100vh;
  overflow: hidden;
  line-break: anywhere;
  white-space: nowrap;
  text-overflow: ellipsis;
}